<ion-header>
  <ion-toolbar color="#00a65a">
    <ion-title>Validation du stock</ion-title>
  </ion-toolbar>
</ion-header>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>

<ion-content>
  <ion-grid *ngIf="newStockEstablished">
    <ion-row>
      <ion-col>
        Vérifiez votre saisie
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let product of newStock">
      <ion-col>
        {{product.name}}: {{product.stock}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button color="danger" (click)="reDoStock()">Recommencer</ion-button>
      <ion-button color="success" (click)="sendNewStock()">Valider</ion-button>
    </ion-row>
  </ion-grid>
  
  <ion-slides scrollbar="true" *ngIf="productList != []">
    <ion-slide *ngFor="let product of productList">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="http://localhost:8000/storage/pictures/{{product.picture}}" alt="{{data.name}}" style="border-radius: 100px;" width="40px" height="40px">
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <ion-label>{{product.name}}</ion-label>
          </ion-col>
        </ion-row>

        <ion-row style="padding-top:20px" class="ion-justify-content-center">
          <ion-col size="3" style="padding-top: 14px;">
            Stock:
          </ion-col>
          <ion-col size="3">
            <ion-input type="number" [(ngModel)]="productNewStock" value="{{product.stock}}"></ion-input>
          </ion-col>
          <ion-col size="3" style="padding-top: 14px;">
            {{product.unit}}
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col>
            <ion-button color="success" (click)="validateProductStock(product.id)">Valider</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-slide>
  </ion-slides>

</ion-content>