<ion-header>
  <ion-toolbar color="#00a65a">
    <ion-title>Les cagettes</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding" >
  <ion-grid style="margin-top: 60px;">
   
      <ion-item *ngFor="let product of shopList" button (click)="details(product)">
        <img src="http://localhost:8000/storage/pictures/{{product.picture}}" height='35' width='35' style="margin-right: 2px;">
        <ion-label>
          {{product.name}}
        </ion-label>
        <ion-note slot="end" color="primary">{{product.stock}} Pièces {{ product.price }} CHF</ion-note>
      </ion-item>
  
  </ion-grid>
</ion-content>