<ion-header>
  <ion-toolbar color="#00a65a">
    <ion-title>Les fruits et légumes</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding" >
  <ion-grid style="margin-top: 60px;">
   
      <ion-item *ngFor="let data of Datas.stock" button (click)="details(data)">
        <img src="http://localhost:8000/storage/pictures/{{data.picture}}" height='35' width='35'>
        <ion-label>
          {{data.name}}
        </ion-label>
        <ion-note slot="end" color="primary">{{data.stock}} Pièces {{ data.price }} CHF</ion-note>
      </ion-item>
  
  </ion-grid>
</ion-content>