<ion-header>
  <ion-toolbar color="#00a65a">
    <ion-title>
      Vedjiz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col>
        <p></p>
        
        <span class="already">Pas de compte ?</span>

        <ion-button [routerLink]="['/tabs/register']" expand="block" color="primary">S'enregistrer</ion-button>

        <span class="divider line one-line">ou</span>

        <span class="already">Déjà enregistré ?</span>

        <ion-button [routerLink]="['/tabs/login']" expand="block" color="danger">Se connecter</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
