<ion-header>
  <ion-toolbar color="#00a65a">
    <ion-title>Compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="10">
      <h3>Bonjour {{Datas.user.firstname}} {{Datas.user.lastname}}</h3>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="10">
      Votre balance :
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col size="10" offset="1">
      Débit : {{Datas.userBalance.debit}} <br>
      Crédit : {{Datas.userBalance.credit}}
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <br>
      <ion-button color="danger" expand="block" (click)="logout()">se déconnecter</ion-button>
    </ion-col>
  </ion-row>

</ion-content>