<ion-header>
  <ion-toolbar color="#00a65a">
    <ion-title>{{dataDetail.name}}</ion-title>
    
    <ion-icon name="cart" slot="end" color="white" style="margin-right: 25px; font-size: 32px;" (click)="addToCart(dataDetail.id)">Add to cart</ion-icon>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center" style="margin-top: 20px;">
      <ion-col size="10" offset="2">
        <div>
          <img src="http://localhost:8000/storage/pictures/{{dataDetail.picture}}" height='200' width='200'>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row>
      <ion-col size="8" offset="2">
        <div style="font-size: 14px; font-style: italic;">
          {{dataDetail.details}}
        </div>
        <br>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="8" offset="1">Fournisseurs :</ion-col>
         
      <ion-col size="10" offset="2">
        <div *ngFor="let supplier of dataDetail.suppliers">
          {{supplier.company_name}}, {{supplier.city}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
